:root{
  --color1:#05b1b1;
  --color2:#52339a;
}

.header, .footer, .section{
  padding: 100px 0;
}
.header, .footer{
  background: var(--color1);
  background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
  background: -webkit-linear-gradient(left, var(--color1) 0%,var(--color2) 100%);
  background: linear-gradient(to right, var(--color1) 0%,var(--color2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );
}


/* таблица */
table {
   border: 2px solid grey;
}
th {
   border: 2px solid grey;
}

td {
   border: 2px solid grey;
}

/* кнопка */

buttt {
    border: aliceblue;
}

